@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif!important;
}
.line-mod {
    line-height: 34px
}
@media (max-width: 425px) {
    .line-mod {
        line-height: 26px
    }   
}